version: '3.8'

services:
  # Merchant Service
  # merchant-service:
  #   build:
  #     context: ./services/merchant/
  #   ports:
  #     - "4000:4000"
  #   depends_on:
  #     - redis
  #   networks:
  #     - app-network
  #   volumes:
  #     - ./config.js:/src/config.js
  #     - ./start.sh:/src/start.sh
  #     - ./prisma:/src/prisma
  #     - ./commonFile:/src/commonFile
  #   env_file:
  #     - .env
  #   command: /bin/bash /src/start.sh

  # possetting-service:
  #   build:
  #     context: ./services/pos_settings/
  #   ports:
  #     - "4001:4001"
  #   depends_on:
  #     - redis
  #   networks:
  #     - app-network
  #   volumes:
  #     - ./config.js:/src/config.js
  #     - ./start.sh:/src/start.sh
  #     - ./prisma:/src/prisma
  #     - ./commonFile:/src/commonFile
  #   env_file:
  #     - .env
  #   command: /bin/bash /src/start.sh


  # # product Service
  # product-service:
  #   build:
  #     context: ./services/product/
  #   ports:
  #     - "4002:4002"
  #   depends_on:
  #     - redis
  #   networks:
  #     - app-network
  #   volumes:
  #     - ./config.js:/src/config.js
  #     - ./start.sh:/src/start.sh
  #     - ./prisma:/src/prisma
  #     - ./commonFile:/src/commonFile
  #   env_file:
  #     - .env
  #   command: /bin/bash /src/start.sh


  # mainserver:
  #   build:
  #     context: ./
  #   ports:
  #     - "8080:8080"
  #   env_file:
  #     - .env
  #   depends_on:
  #     - redis
  #   volumes:
  #     - ./start.sh:/src/start.sh
  #   networks:
  #     - app-network
  #   command: /bin/bash /src/start.sh

# mainserver:
  mainserver:
    build:
      context: ./
    ports:
      - "8081:8081"
    container_name: mainserver
    depends_on:
      - redis
    networks:
      - app-network

  # Redis Service
  redis:
    image: redis:latest
    ports:
      - "6380:6379"
    networks:
      - app-network

  gateway:
    build:
      context: /home/pinesucceed/Documents/mono/gateway/node_gateway
    container_name: gateway
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - mainserver
    networks:
      - app-network

  #mongo db
  mongodb:
    image: mongo:5.0
    container_name: mongodb
    ports:
      - "27018:27017"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
